fastapi
uvicorn[standard]
python-multipart
yt-dlp
yt-dlp-get-pot
bgutil-ytdlp-pot-provider
opencv-python-headless<5.0
librosa
soundfile
numpy
pypdf
Pillow
rembg[cpu]
onnxruntime
aiofiles
apify-client
noisereduce
edge-tts
python-docx
reportlab
pdf2image
youtube-transcript-api
SpeechRecognition
pydub
google-generativeai
gtts
insightface
mediapipe
